@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button type="button" onclick="redirectToCities()">Get All Cities</button>
</div>

<div class="text-center">
<button type="button" onclick="redirectToWeatherData()">Get All Weather Data</button>
</div>

<script>
    function redirectToCities() {
        
        window.location.href = '/Cities/index';
    }
</script>

<script>
    function redirectToWeatherData() {
       
        window.location.href = '/Weatherdata/index';
    }
</script>